---
import { getCollection } from "astro:content";

import Section from "../ui/Section.astro";
import Heading from "../ui/Heading.astro";
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import { Picture } from "astro-imagetools/components";

import { TbCode, TbExternalLink } from "react-icons/tb";
import Link from "../ui/Link.astro";

const currentLang = i18next.language;

const projects = await getCollection("project", ({ id }) => {
  return id.startsWith(`${currentLang}/`);
}).then((projects) => {
  return projects.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
  });
});
---

<Section id="projects">
  <Heading level={2}>{t("sections.projects.title")}</Heading>
  <div class="flex flex-col divide-y-2 divide-stone-200 dark:divide-stone-700">
    {
      projects.map((project) => (
        <div class="flex gap-2 py-4 max-sm:flex-col">
          <div class="basis-2/5 max-sm:order-2">
            <a
              class="underline decoration-2 hover:no-underline"
              href={localizePath("/project/" + project.slug.split("/")[1], currentLang)}
            >
              <Heading level={3}>{project.data.title}</Heading>
            </a>
            <p>{project.data.description}</p>
            <div class="my-2 flex flex-wrap gap-2">
              {project.data.technologies.map((tag) => (
                <span class="inline-block rounded-full bg-stone-200 px-3 py-1 text-sm font-semibold text-stone-700 dark:bg-stone-700 dark:text-stone-200">
                  {tag}
                </span>
              ))}
            </div>
            {project.data.github && (
              <Link type="button" href={project.data.github}>
                {t("sections.projects.view_code")}
                <TbCode className="ml-2" />
              </Link>
            )}
            {project.data.demo && (
              <Link type="button" href={project.data.demo} target="_blank">
                {t("sections.projects.demo")}
                <TbExternalLink className="ml-2" />
              </Link>
            )}
          </div>
          <div class="basis-3/5 max-sm:order-1">
            <Picture src={project.data.image} alt={`${project.data.title} ${t("sections.projects.preview_image")}`} />
          </div>
        </div>
      ))
    }
  </div>
</Section>
