---
import i18next from "i18next";
import { SEO } from "astro-seo";
import { AstroI18next, localizeUrl } from "astro-i18next";
import "@fontsource-variable/inter";
import Navbar from "../components/ui/Navbar.astro";

interface Props {
  title: string;
  description?: string;
}

const supportedLanguages = i18next.languages;
const defaultLanguage = AstroI18next.config.defaultLocale;
const currentUrl = Astro.url.href;

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language} class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <SEO
      charset="UTF-8"
      description={description}
      title={title}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" hreflang="x-default" href={localizeUrl(currentUrl, defaultLanguage)} />
    {
      supportedLanguages.map((supportedLanguage) => (
        <link rel="alternate" hreflang={supportedLanguage} href={localizeUrl(currentUrl, supportedLanguage)} />
      ))
    }
    <script client:load>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    {
      import.meta.env.DOMAIN_NAME && import.meta.env.PLAUSIBLE_URL && (
        <script is:inline defer data-domain={import.meta.env.DOMAIN_NAME} src={import.meta.env.PLAUSIBLE_URL} />
      )
    }
  </head>
  <body class="bg-stone-50 text-stone-900 dark:bg-stone-900 dark:text-stone-200">
    <Navbar />
    <div class="flex flex-col items-center justify-center">
      <div class="flex h-full w-full max-w-screen-md flex-col px-2">
        <slot />
      </div>
    </div>
  </body>
</html>
