---
import i18next, { t } from "i18next";
import ISO6991 from "iso-639-1";
import { localizePath } from "astro-i18next";
import { NightSwitch } from "./NightSwitch";
import { config } from "@/config";

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;
const getFlagEmoji = (countryCode: string) => {
  const exceptions = {
    en: "us",
    uk: "gb",
  };
  const code = exceptions[countryCode as keyof typeof getFlagEmoji] || countryCode;
  return String.fromCodePoint(...[...(code as string).toUpperCase()].map((x) => 0x1f1a5 + x.charCodeAt(0)));
};

const { pathname } = Astro.url;
const navItems = [
  {
    name: t("sections.about.title"),
    url: localizePath("/", currentLanguage) + "#about",
  },
  {
    name: t("sections.projects.title"),
    url: localizePath("/", currentLanguage) + "#projects",
  },
  {
    name: t("sections.contact.title"),
    url: localizePath("/", currentLanguage) + "#contact",
  },
];
---

<div class="h-8"></div>
<header class="sticky top-1 z-10 w-full">
  <div
    class="relative mx-auto flex max-w-screen-md items-center border border-stone-400 border-opacity-50 bg-blue-50 bg-opacity-40 px-2 py-4 shadow-md backdrop-blur-lg dark:border-stone-900 dark:bg-stone-800 dark:bg-opacity-50 max-md:border-x-0 md:rounded-lg"
  >
    <button id="hamburger-toggle" class="mr-4 space-y-2 hover:cursor-pointer sm:hidden">
      <span class="block h-0.5 w-8 bg-stone-900 dark:bg-stone-200"></span>
      <span class="block h-0.5 w-8 bg-stone-900 dark:bg-stone-200"></span>
      <span class="block h-0.5 w-8 bg-stone-900 dark:bg-stone-200"></span>
    </button>
    <a class="w-6" title={config.name} href={localizePath("/", currentLanguage) + "#"}>
      <svg
        width="40"
        height="40"
        viewBox="0 0 111 71"
        class="fill-stone-700 dark:fill-stone-200"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.944 68.744C13.96 68.616 11.976 67.88 9.992 66.536C8.008 65.256 6.184 64.04 4.52 62.888C3.432 61.8 2.6 60.648 2.024 59.432C1.448 58.152 0.968 56.488 0.584 54.44C0.328 53.224 0.328 51.624 0.584 49.64C0.84 47.656 1.256 45.672 1.832 43.688C2.408 41.64 2.952 40.04 3.464 38.888C4.232 37.096 5.192 35.176 6.344 33.128C7.56 31.016 8.744 29.032 9.896 27.176C11.112 25.256 12.072 23.72 12.776 22.568C13.224 22.12 13.416 21.896 13.352 21.896C13.352 21.832 13.352 21.8 13.352 21.8C13.352 21.48 13.672 20.68 14.312 19.4C15.016 18.056 15.624 16.872 16.136 15.848C17.096 14.824 17.64 13.992 17.768 13.352C17.896 12.712 17.8 12.2 17.48 11.816C17.352 11.56 17.608 11.016 18.248 10.184C18.952 9.352 19.912 8.424 21.128 7.4C22.344 6.312 23.688 5.352 25.16 4.51999C26.696 3.304 28.168 2.664 29.576 2.6C31.048 2.472 31.912 2.76 32.168 3.464C32.168 3.656 32.52 3.72 33.224 3.65599C33.992 3.528 34.856 3.368 35.816 3.17599C36.84 2.92 37.736 2.728 38.504 2.6C38.824 2.216 39.56 1.928 40.712 1.736C41.928 1.48 43.336 1.256 44.936 1.064C45.768 1.128 46.696 1.16 47.72 1.16C48.744 1.096 49.64 1.032 50.408 0.967995C51.24 0.903996 51.656 0.871996 51.656 0.871996C52.104 0.743998 52.744 1.032 53.576 1.736C54.472 2.376 55.176 3.272 55.688 4.424C56.136 5.576 55.752 6.568 54.536 7.4C53.32 8.232 51.4 8.808 48.776 9.128C46.856 9.384 45.352 9.608 44.264 9.8C43.24 9.928 42.12 10.12 40.904 10.376C39.752 10.568 38.056 10.92 35.816 11.432C34.216 11.752 32.872 12.008 31.784 12.2C30.696 12.392 29.736 12.776 28.904 13.352C28.136 13.928 27.272 14.952 26.312 16.424C25.864 16.744 25.288 17.576 24.584 18.92C23.88 20.264 23.176 21.608 22.472 22.952C20.68 25.448 19.336 27.304 18.44 28.52C17.608 29.672 17.32 30.408 17.576 30.728C17.576 30.728 18.024 30.824 18.92 31.016C19.816 31.208 20.392 31.304 20.648 31.304C21.288 30.984 22.056 30.76 22.952 30.632C23.912 30.504 24.68 30.376 25.256 30.248C29.224 29.224 32.136 28.488 33.992 28.04C35.912 27.528 37.256 27.176 38.024 26.984C38.856 26.792 39.592 26.664 40.232 26.6C41.128 25.896 42.024 25.96 42.92 26.792C43.88 27.56 44.552 28.488 44.936 29.576C45.384 30.856 45.384 31.848 44.936 32.552C44.488 33.256 43.496 33.832 41.96 34.28C40.488 34.728 38.376 35.272 35.624 35.912C32.872 36.488 29.416 37.352 25.256 38.504C21.736 39.528 18.888 40.136 16.712 40.328C14.536 40.52 13.512 39.976 13.64 38.696C13.192 38.44 12.68 38.696 12.104 39.464C11.592 40.168 11.112 41.16 10.664 42.44C10.216 43.72 9.8 45.096 9.416 46.568C9.096 48.04 8.904 49.416 8.84 50.696C8.776 51.976 8.872 52.968 9.128 53.672C9.64 55.144 10.44 56.424 11.528 57.512C12.68 58.536 14.344 59.368 16.52 60.008C17.8 60.072 19.048 60.168 20.264 60.296C21.48 60.424 22.856 60.168 24.392 59.528C28.168 58.888 30.792 58.216 32.264 57.512C33.736 56.808 34.632 56.328 34.952 56.072C35.464 55.816 35.784 55.56 35.912 55.304C36.104 55.048 36.36 54.92 36.68 54.92C36.488 55.24 36.552 55.24 36.872 54.92C37.192 54.6 37.704 54.152 38.408 53.576C39.752 52.424 41.096 51.72 42.44 51.464C43.784 51.208 44.904 51.208 45.8 51.464C46.696 51.656 47.176 51.912 47.24 52.232C47.624 52.872 47.432 53.896 46.664 55.304C45.896 56.648 44.712 58.088 43.112 59.624C41.576 61.16 39.752 62.536 37.64 63.752C34.248 65.544 30.568 66.792 26.6 67.496C22.632 68.264 19.08 68.68 15.944 68.744ZM54.6493 69.512C53.8173 69 53.0493 68.36 52.3453 67.592C51.6413 66.888 51.4813 65.864 51.8653 64.52C51.8013 63.752 51.8333 63.016 51.9613 62.312C52.1533 61.608 52.2813 61.128 52.3453 60.872C52.6653 60.872 52.8573 60.712 52.9213 60.392C52.9853 60.008 53.0173 59.688 53.0173 59.432C53.0173 58.92 53.2093 58.056 53.5933 56.84C53.9773 55.624 54.3613 54.344 54.7453 53C55.2573 51.912 55.7373 50.76 56.1853 49.544C56.6973 48.328 56.9532 47.592 56.9532 47.336C56.9532 46.824 57.0813 46.312 57.3373 45.8C57.5933 45.224 57.8813 44.68 58.2013 44.168C58.5213 43.4 58.7453 42.568 58.8733 41.672C59.0653 40.712 59.1613 39.976 59.1613 39.464C59.5453 38.632 59.9613 37.736 60.4093 36.776C60.8573 35.816 61.2093 34.824 61.4653 33.8C61.8493 32.712 62.4253 31.112 63.1933 29C63.9613 26.824 64.7613 24.648 65.5933 22.472C66.1693 21.256 66.7133 20.008 67.2253 18.728C67.8013 17.384 68.3133 16.264 68.7613 15.368C69.2093 14.408 69.5293 13.928 69.7213 13.928C69.7213 13.928 69.7213 13.832 69.7213 13.64C69.7213 13.384 69.7213 13.128 69.7213 12.872C69.7213 12.552 69.9773 11.944 70.4893 11.048C71.0013 10.088 71.4813 9.096 71.9293 8.07199C72.5693 7.112 73.0173 6.216 73.2733 5.384C73.5293 4.488 73.6573 4.04 73.6573 4.04C73.6573 4.04 73.7853 3.848 74.0413 3.464C74.2973 3.016 74.5533 2.664 74.8093 2.408C76.4733 1.512 77.8813 1.064 79.0333 1.064C80.2493 1.064 81.0813 1.832 81.5293 3.368C82.0413 4.776 82.2653 5.768 82.2013 6.344C82.1373 6.856 81.9133 7.496 81.5293 8.264C81.0173 9.416 80.3453 10.888 79.5133 12.68C78.6813 14.408 77.8173 16.264 76.9213 18.248C76.0253 20.232 75.1613 22.152 74.3293 24.008C73.5613 25.8 72.9213 27.336 72.4093 28.616C71.9613 29.896 71.7373 30.696 71.7373 31.016L67.7053 40.904C67.4493 41.352 67.0333 42.504 66.4573 44.36C65.8813 46.152 65.2093 48.328 64.4413 50.888C63.6733 53.384 62.8733 55.944 62.0413 58.568C61.2733 61.128 60.5053 63.464 59.7373 65.576C59.3533 66.664 59.0013 67.56 58.6813 68.264C58.3613 69.032 58.0413 69.608 57.7213 69.992C57.4013 70.376 57.0173 70.568 56.5693 70.568C56.3133 70.568 56.0253 70.472 55.7053 70.28C55.3853 70.088 55.0333 69.832 54.6493 69.512ZM88.6333 69.32C88.0573 69.384 87.2573 69.096 86.2333 68.456C85.2733 67.88 84.2173 67.144 83.0653 66.248C81.9773 65.352 80.9213 64.424 79.8973 63.464C78.9373 62.504 78.1693 61.672 77.5933 60.968C76.5693 59.496 75.2573 57.512 73.6573 55.016C72.1213 52.52 70.9693 49.896 70.2013 47.144C69.7533 45.096 69.2733 43.464 68.7613 42.248C68.3133 40.968 68.0893 39.848 68.0893 38.888L68.1853 32.936L75.1933 32.456C75.5133 35.912 76.0253 38.792 76.7293 41.096C77.4333 43.336 78.2653 45.352 79.2253 47.144C79.9933 48.808 80.8253 50.44 81.7213 52.04C82.6813 53.64 83.7373 54.984 84.8893 56.072C86.3613 57.672 87.6733 58.856 88.8253 59.624C89.9773 60.392 90.8413 60.776 91.4173 60.776C92.6333 61.352 93.5293 61.896 94.1053 62.408C94.6813 62.92 95.0653 63.368 95.2573 63.752C95.4493 64.136 95.5133 64.488 95.4493 64.808C95.5133 65 95.4813 65.416 95.3533 66.056C95.2253 66.76 95.0333 67.432 94.7773 68.072C94.5213 68.776 94.1693 69.224 93.7213 69.416C93.2733 69.864 92.6973 70.12 91.9933 70.184C91.2893 70.312 90.1693 70.024 88.6333 69.32ZM66.3613 32.648L73.3693 27.464C73.5613 27.272 74.1053 26.76 75.0013 25.928C75.9613 25.032 77.7853 23.56 80.4733 21.512L93.1453 11.24C94.7453 10.408 96.2173 9.48 97.5613 8.456C98.9053 7.432 100.025 6.632 100.921 6.056C102.009 5.288 103.129 4.488 104.281 3.65599C105.433 2.824 106.137 2.44 106.393 2.504C106.905 2.248 107.513 2.504 108.217 3.272C108.921 3.976 109.497 4.84 109.945 5.86399C110.457 6.824 110.681 7.56 110.617 8.07199C110.745 8.712 110.649 9.256 110.329 9.704C110.009 10.152 109.177 10.76 107.833 11.528C106.233 12.232 104.953 12.904 103.993 13.544C103.097 14.184 102.585 14.664 102.457 14.984C102.457 14.984 101.785 15.496 100.441 16.52C99.0973 17.544 97.4973 18.696 95.6413 19.976C93.0813 21.704 90.9693 23.24 89.3053 24.584C87.7053 25.864 86.6493 26.888 86.1373 27.656C85.8813 27.656 85.6253 27.752 85.3693 27.944C85.1773 28.136 84.9533 28.2 84.6973 28.136C84.6973 28.136 84.4413 28.328 83.9293 28.712C83.4173 29.032 83.0333 29.384 82.7773 29.768C82.6493 30.088 82.3613 30.504 81.9133 31.016C81.5293 31.528 81.0493 31.752 80.4733 31.688C80.0253 31.944 79.2253 32.488 78.0733 33.32C76.9213 34.088 75.7053 34.952 74.4253 35.912C73.2093 36.872 72.1533 37.736 71.2573 38.504C70.3613 39.272 69.8813 39.72 69.8173 39.848L66.3613 32.648Z"
        ></path>
      </svg>
    </a>
    <div class="flex-grow"></div>
    <nav id="mobile-nav" class="absolute left-0 top-full hidden w-full bg-stone-900 px-2 sm:hidden">
      <ul class="flex flex-col divide-y" onclick="closeMobileNav()">
        {
          navItems.map((item) => (
            <li class="flex">
              <a href={item.url} class="w-full py-4">
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <nav class="hidden sm:flex">
      <ul class="flex">
        {
          navItems.map((item) => (
            <li>
              <a href={item.url} class="px-4 py-2 decoration-2 hover:underline">
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    {
      supportedLanguages.map(
        (supportedLanguage: string) =>
          supportedLanguage !== currentLanguage && (
            <a
              class="px-4 py-2 decoration-2 hover:underline"
              title={ISO6991.getNativeName(supportedLanguage)}
              href={localizePath(pathname, supportedLanguage)}
            >
              {getFlagEmoji(supportedLanguage)}
              {supportedLanguage.toUpperCase()}
            </a>
          )
      )
    }
    <NightSwitch client:load />
  </div>
</header>

<script client:load>
  const hamburgerToggle = document.getElementById("hamburger-toggle");
  const mobileNav = document.getElementById("mobile-nav");
  hamburgerToggle.addEventListener("click", () => {
    mobileNav.classList.toggle("hidden");
  });

  function closeMobileNav() {
    mobileNav.classList.add("hidden");
  }
</script>
